.Login div {
  display: inline;
  width: 400px;
}

.Login input {
  display: block;
}

.Main {
  height: 100vh;
  /* background-color: #ffcc99; */
  background-image: url('https://imgur.com/Iypt07Y.png');
  background-size: 100% 100%;
  /* background-repeat: repeat-x;
  width: calc(100% * 3);
  animation: slide 60s linear infinite; */
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0)
  }
  100% {
    transform: translate3d(-1310px, 0, 0)
  }
}

.Nav {
  height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  text-align: center;
  background-color: aquamarine;

}

.Char-Container {
  width: 450px;
  height: 300px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.25fr 1fr;
}

.Char-Container h1 {
  grid-column: span 2;
  text-align: center;
}

.Char-Container form {
  text-align: center;
}

#Girl {
  width: 275px;
  height: 275px;
}

#Boy {
  width: 275px;
  height: 275px;
}

.User-Char-Grid {
  padding-top: 2.5%;
  width: 250px;
  height: 300px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  align-items: center;
  justify-items: center;
}

.User-Char-Grid h2 {
  color: whitesmoke;
}

.User-Char img {
  width: 250px;
  padding-left: 10px;
}

/* @media only screen and (max-width: 900px) {
  .Main {
    background-image: url('https://imgur.com/Iypt07Y.png');
    background-size: 125% 100%;
  }
}

@media only screen and (max-width: 500px) {
  .Main {
    background-image: url('https://imgur.com/Iypt07Y.png');
    background-size: 175% 100%;
  }
} */