@font-face {
  font-family: 'Space Game';
  src: url('../fonts/SpaceGame-ywxX2.ttf');
}

#root {
  height: 100vh;
  background-image: url('https://imgur.com/Iypt07Y.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Login, .Register {
  width: 200px;
  background-color: rgb(199, 238, 79, 0.5);
  padding: 25px;
}

.Login h1, .Register h1 {
  color: whitesmoke;
  margin: 10px;
}

.Login input, .Register input {
  height: 20px;
  width: 75%;
  margin: 1.5%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid gray;
}

.Login button, .Register button {
  width: 50%;
  height: 30px;
  display: block;
  margin: auto;
  margin-bottom: 10%;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-size: 4em;
  font-family: "Space Game";
  text-shadow: 0 0 20px #eeeeee, 0 0 30px #5cf988, 0 0 40px #5cf988, 0 0 50px #5cf988,
  0 0 60px #678efa, 0 0 70px #678efa, 0 0 80px #678efa;
}

.Login button:hover, .Register button:hover {
  color: whitesmoke;
  text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white,
  0 0 60px whitesmoke, 0 0 70px whitesmoke, 0 0 80px white, 0 0 90px white, 0 0 100px white;
  }

.Login {
  border-radius: 20px 0 0 20px;
}

.Register {
  border-radius: 0 20px 20px 0;
}

.Auth-Container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.Auth-Grid {
  width: 500px;
  height: 365px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 5%;
  justify-content: center;
  text-align: center;
}

#User-Confirm {
  margin: 0;
  color: whitesmoke;
  font-size: 4em;
  font-family: "Space Game";
  text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white,
  0 0 60px whitesmoke, 0 0 70px whitesmoke, 0 0 80px white, 0 0 90px white, 0 0 100px white;
}

.Nav {
  height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  text-align: center;
  background-color: rgb(199, 238, 79, 0.7);
}

.Nav a {
  text-decoration: none;
  float: right;
  padding-top: 5px;
  padding-right: 20px;
  color: whitesmoke;
  text-shadow: 0 0 20px white;
  font-weight: bold;
  font-size: 1.65em;
}

#Title {
  font-family: 'Space Game';
  font-size: 6em;
  letter-spacing: 13px;
  margin: 0;
  text-align: center;
  padding-top: 10%;
  color: whitesmoke;
  text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #fb79ba, 0 0 50px #ff7f4d,
  0 0 60px #ff7f4d, 0 0 70px #ff7f4d, 0 0 80px #ff7f4d;
}

#Choose {
  margin: 5%;
  color: whitesmoke;
  font-size: 5em;
  font-family: "Space Game";
  letter-spacing: 7px;
  text-shadow: 0 0 20px white, 0 0 30px white;
}

.ChooseChar {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.Game-Grid-Cont {
  width: auto;
  height: 100vh;
}

.Game-Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.Left {
  height: 82.5%;
  margin: 20px;
  margin-top: 75px;
  color: whitesmoke;
  text-align: left;
  background-color: rgba(120, 189, 232, 0.6);
  border-radius: 10px;
  padding: 10px;
}

#Guide {
  margin: 10px;
  font-family: "Space Game";
  font-size: 2.5em;
  letter-spacing: 5px;
  text-shadow: 0 0 20px white;
}

.Numbers {
  font-size: 22px;
  font-weight: bold;
}

#Ex {
  margin: 5px;
  font-family: "Space Game";
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 0 0 20px white, 0 0 30px white;
}

.Stats {
  height: 50%;
  margin: 20px;
  margin-top: 75px;
  color: whitesmoke;
  text-align: right;
  background-color: rgba(42, 204, 128, 0.4);
  border-radius: 10px;
  padding: 10px;
}

#charID {
  float: left;
  font-family: "Space Game";
  font-size: 1.5em;
  letter-spacing: 5px;
  text-shadow: 0 0 20px white
}

.Stats h2 {
  clear: both;
  font-size: 1.5em;
  letter-spacing: 5px;
  text-shadow: 0 0 20px white;
}

.Char-Container {
  width: 450px;
  height: auto;

  display: grid;
  grid-template-columns: 0.75fr 0.75fr;
  grid-template-rows: 0.25fr 1fr;
}

.Char-Container h1 {
  grid-column: span 2;
  text-align: center;
  color: whitesmoke;
}

.Char-Container form {
  text-align: center;
}

.Char-Container input {
  height: 15px;
  width: 60%;
  margin: 1.5%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid gray;
}

.Char-Container button {
  width: 30%;
  height: 30px;
  display: block;
  margin: auto;
  margin-top: 5px;
  border: 1px solid gray;
  border-radius: 15px;
  color: rgb(0, 0, 0, 0.7);
  font-family: Arial;
  font-size: medium;
}

#Girl {
  width: 275px;
  height: 275px;
}

#Boy {
  width: 275px;
  height: 275px;
}

#Girl-Select, #Boy-Select {
  width: 50%;
  height: 30px;
  display: block;
  margin: auto;
  margin-bottom: 10%;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-size: 4em;
  font-family: "Space Game";
  text-shadow: 0 0 20px #eeeeee, 0 0 30px #5cf988, 0 0 40px #5cf988, 0 0 50px #5cf988,
  0 0 60px #678efa, 0 0 70px #678efa, 0 0 80px #678efa;
}

#Girl-Select:hover, #Boy-Select:hover {
  text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white,
  0 0 60px whitesmoke, 0 0 70px whitesmoke, 0 0 80px white, 0 0 90px white, 0 0 100px white;
}

.Character {
  width: 300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.User-Char-Grid {
  width: 300px;
  height: 400px;

  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 75px 275px 85px;
  grid-template-areas: 
  "a" 
  "b" 
  "c";
  align-items: center;
  justify-items: center;
}

#User-Char-Name {
  grid-area: a;
  color: whitesmoke;
  margin: 5px;
  font-family: "Space Game";
  font-size: 3em;
  letter-spacing: 7px;
  text-shadow: 0 0 20px white, 0 0 30px white;
}

#User-Char-Img {
  grid-area: b;
  width: 275px;
  height: 275px;

  padding-bottom: 5px;
  align-self: center;
}

#Score {
  display: inline;
  grid-area: c;
  color: whitesmoke;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: auto;
  padding-top: 25px;
  font-family: "Space Game";
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 7px;
  text-shadow: 0 0 20px #eeeeee, 0 0 30px #b46cbc, 0 0 40px #b46cbc, 0 0 50px #b46cbc,
  0 0 60px #4c79f5, 0 0 70px #4c79f5, 0 0 80px #4c79f5;
}

#Points-Display {
  display: inline;
  font-family: "Space Game";
  margin-right: 0;
  margin-left: auto;
  color: whitesmoke;
  font-size: 3em;
  font-weight: bold;
  padding-left: 50px;
  text-shadow: 0 0 20px #eeeeee, 0 0 30px #b46cbc, 0 0 40px #b46cbc, 0 0 50px #b46cbc,
  0 0 60px #4c79f5, 0 0 70px #4c79f5, 0 0 80px #4c79f5;
}

/* #Points {
  display: inline;
  margin-right: 0;
  margin-left: auto;
  padding-left: 50px;
  text-shadow: 0 0 20px #eeeeee, 0 0 30px #b46cbc, 0 0 40px #b46cbc, 0 0 50px #b46cbc,
  0 0 60px #4c79f5, 0 0 70px #4c79f5, 0 0 80px #4c79f5;
} */

.Achieve-Container {
  grid-area: c;
  align-self: center;
  width: 300px;
  height: auto;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

.Achieve-Card {
  width: 275px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  color: whitesmoke;
  background-color: rgba(238, 180, 79, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 20px 5px whitesmoke;

  display: grid;
  grid-template-columns: 1fr 0.25fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "a b";
}

.Achieve-Card:hover {
  background: whitesmoke;
  color: rgba(238, 180, 79, 0.8);
}

.Achieve-Card h4 {
  grid-area: a;
  margin: 0;
  align-self: center;
  justify-self: start;
  padding-left: 10px;
}

.Achieve-Card h3 {
  grid-area: b;
  align-self: center;
  justify-self: end;
  padding-right: 20px;
}

.Acct-Container {
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8.5%;
  text-align: center;
}

.Acct-Grid {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 0.75fr;
grid-gap: 10px;
grid-template-areas: 
"a"
"b";

justify-content: center;
align-content: center;
padding: 20px;
background-color: rgba(238, 180, 79, 0.8);
border-radius: 10px;
box-shadow: 0 0 20px 5px whitesmoke;
}

#Change {
  margin: 0;
  color: whitesmoke;
  font-size: 1.75em;
  text-transform: uppercase;
  letter-spacing: 8.5px;
  float: right;
  padding-right: 10px;
}

#Password {
  margin-bottom: 10px;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  float: right;
  padding-right: 15px;
}

#Saying {
  grid-area: b;
  margin: 0;
  color: whitesmoke;
  font-size: 1.75em;
  text-transform: uppercase;
  letter-spacing: 13.5px;
  float: right;
  padding-right: 8.5px;
}

#Farewell {
  grid-area: b;
  margin-bottom: 10px;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  float: right;
  padding-right: 25px;
}

.Acct-Grid form {
  grid-area: a;
  height: 300px;
  align-self: center;
}

.Acct-Grid input {
  height: 20px;
  width: 65%;
  margin: 1.5%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid gray;
}

#Edit {
  display: block;
  width: 65%;
  height: 50px;
  display: block;
  margin: auto;
  margin-top: 10px;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-family: "Space Game";
  font-size: 3em;
  letter-spacing: 3px;
  text-shadow: 0 0 20px white, 0 0 30px white;
}

#Edit:hover, #Delete:hover {
  cursor: pointer;
}

#Delete {
  grid-area: b;
  display: block;
  width: 65%;
  height: 50px;
  display: block;
  margin: auto;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-family: "Space Game";
  font-size: 3em;
  letter-spacing: 3px;
  text-shadow: 0 0 20px white, 0 0 30px white;
}


/* .Acct-Container {
  width: 615px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  text-align: center;
}

.Acct-Grid {
display: grid;
height: 400px;
grid-template-columns: 300px 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas: 
"a b"
"a c";

background-color: rgba(238, 180, 79, 0.8);
border-radius: 10px;
box-shadow: 0 0 20px 5px whitesmoke;
}

#Change {
  grid-area: a;
  color: whitesmoke;
  font-size: 1.75em;
  text-transform: uppercase;
  letter-spacing: 8.5px;
  float: left;
  padding-left: 5px;
}

#Password {
  grid-area: c;
  margin-bottom: 10px;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  float: left;
  padding-left: 10px;
  padding-bottom: 10px;
}

#New {
  grid-area: b;
  color: whitesmoke;
  font-size: 1.75em;
  text-transform: uppercase;
  letter-spacing: 8.5px;
  float: right;
}

#Character {
  grid-area: b;
  margin-bottom: 10px;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  float: right;
  padding-bottom: 5px;
  padding-right: 8.5px;
}

#Saying {
  grid-area: b;
  color: whitesmoke;
  font-size: 1.75em;
  text-transform: uppercase;
  letter-spacing: 13.5px;
  float: right;
}

#Farewell {
  grid-area: b;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  float: right;
  padding-bottom: 5px;
  padding-right: 8.5px;
}

.Acct-Grid form {
  grid-area: a;
}

.Acct-Grid input {
  height: 20px;
  width: 65%;
  margin: 1.5%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid gray;
}

#Edit {
  display: block;
  width: 65%;
  height: 50px;
  display: block;
  margin: auto;
  margin-top: 10px;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-family: "Space Game";
  font-size: 3em;
  letter-spacing: 3px;
  text-shadow: 0 0 20px white, 0 0 30px white;
}

#Edit:hover, #Char-Delete:hover, #User-Delete:hover {
  cursor: pointer;
}

#Char-Delete {
  grid-area: b;
  display: block;
  width: 65%;
  height: 50px;
  display: block;
  margin-right: auto;
  margin-left: 0;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-family: "Space Game";
  font-size: 2.75em;
  letter-spacing: 3px;
  text-shadow: 0 0 20px white, 0 0 30px white;
}

#User-Delete {
  grid-area: b;
  display: block;
  width: 65%;
  height: 50px;
  display: block;
  margin-right: auto;
  margin-left: 0;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-family: "Space Game";
  font-size: 2.75em;
  letter-spacing: 3px;
  text-shadow: 0 0 20px white, 0 0 30px white;
} */

/* @media only screen and (max-width: 900px) {
  .Main {
    background-image: url('https://imgur.com/Iypt07Y.png');
    background-size: 125% 100%;
  }
}

@media only screen and (max-width: 500px) {
  .Main {
    background-image: url('https://imgur.com/Iypt07Y.png');
    background-size: 175% 100%;
  }
} */